[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = http://github.com/Rip-Rip/clang_complete.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = http://github.com/wincent/Command-T.git
[submodule "vim/bundle/EnhancedCommentify"]
	path = vim/bundle/EnhancedCommentify
	url = http://github.com/hrp/EnhancedCommentify.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/XmlEdit"]
	path = vim/bundle/XmlEdit
	url = http://github.com/sukima/xmledit.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = http://github.com/mitechie/pyflakes-pathogen.git
[submodule "vim/bundle/pep8"]
	path = vim/bundle/pep8
	url = http://github.com/vim-scripts/pep8.git
[submodule "vim/bundle/TagBar"]
	path = vim/bundle/TagBar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
